
div {
  background: grey;
}

.big {
  font-size: 50px;
}

.inverse {
  color: white;
  background: grey;
}

[data-title="my name"] {
  background: red;
}

[data-heading="list"] {
  background: green;
}

[data-body="body"] {
  font-size: 100px;
  color: purple;
}
